.movies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(275px, 100%), 1fr));
    gap: 1rem;
    text-align: center;
    margin: 3rem 0 0 0; 
    justify-items: center;/* Center the grid items */
}
.movies-grid img{
    width: 15rem;
    height: fit-content;
    aspect-ratio: 1/1;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px; /* Rounded corners for images */
    transition: transform 0.3s; /* Smooth scaling effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
.movies-container h1{
    text-align: center;
    margin: 20px 0; /* Space above and below the title */
    font-size: 2rem; /* Larger font size for the title */
    color: #333; /* Darker color for better readability */
}
.desc{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 13rem;
}
.desc div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}
.movies-grid p{
    width: 15rem;
    text-align: center;
}

.pag-section{
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center; /* Center the pagination buttons */
    margin-top: 20px; /* Space above the pagination */
  }
  
  .pagination-button {
    padding: 10px 15px;
    margin: 0 5px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transition: background-color 0.3s;
}
  
  .pagination-button.active {
    background-color: #0056b3; /* Active page button color */
    font-weight: bold; /* Highlight active page */
  }
  .Link{
    text-decoration: none;
    color: white;
  }